In [125]:
# import libraries
import urllib2

In [143]:
years = range(1982,2016)

for i in years:
    
    filename = 'wavedate{}'.format(i)
    url = 'http://www.ndbc.noaa.gov/view_text_file.php?filename=46022h{}.txt.gz&dir=data/historical/stdmet/'.format(i)
    
    response = urllib2.urlopen(url)
    
    with open(filename, 'w') as f: 
        f.write(response.read())
    
    print 'Extracting the wave data for the year {}'.format(i)

Extracting the wave data for the year 1982
Extracting the wave data for the year 1983
Extracting the wave data for the year 1984
Extracting the wave data for the year 1985
Extracting the wave data for the year 1986
Extracting the wave data for the year 1987
Extracting the wave data for the year 1988
Extracting the wave data for the year 1989
Extracting the wave data for the year 1990
Extracting the wave data for the year 1991
Extracting the wave data for the year 1992
Extracting the wave data for the year 1993
Extracting the wave data for the year 1994
Extracting the wave data for the year 1995
Extracting the wave data for the year 1996
Extracting the wave data for the year 1997
Extracting the wave data for the year 1998
Extracting the wave data for the year 1999
Extracting the wave data for the year 2000
Extracting the wave data for the year 2001
Extracting the wave data for the year 2002
Extracting the wave data for the year 2003
Extracting the wave data for the year 2004
Extracting the wave data for the year 2005
Extracting the wave data for the year 2006
Extracting the wave data for the year 2007
Extracting the wave data for the year 2008
Extracting the wave data for the year 2009
Extracting the wave data for the year 2010
Extracting the wave data for the year 2011
Extracting the wave data for the year 2012
Extracting the wave data for the year 2013
Extracting the wave data for the year 2014
Extracting the wave data for the year 2015

In [153]:
with open('wavedate1982') as f:
    lines = f.readlines()

import pandas as pd
df = pd.DataFrame(lines)

In [166]:
temp = []
for line in lines:
    temp.append(line.strip().split())

In [167]:
df = pd.DataFrame(temp)

In [168]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,YY,MM,DD,hh,WD,WSPD,GST,WVHT,DPD,APD,MWD,BAR,ATMP,WTMP,DEWP,VIS
1,82,01,18,19,281,05.9,08.6,04.80,14.30,08.30,999,1014.0,07.7,10.5,999.0,99.0
2,82,01,18,20,237,09.0,12.2,05.20,14.30,09.00,999,1013.1,08.4,10.5,999.0,99.0
3,82,01,18,21,226,04.4,08.6,05.40,14.30,08.60,999,1012.6,06.0,10.5,999.0,99.0
4,82,01,18,22,230,08.1,10.8,05.20,14.30,08.60,999,1012.2,07.1,10.5,999.0,99.0